<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Curso Ingreso UTN FRA</title>

		<!--Estilos-->
		<link rel="stylesheet" type="text/css" href="../estilo.css">
		<link rel="stylesheet" type="text/css" href="../animacion.css">

		<style type="text/css">

		.MiTextArea {
		    width: 100%;
		    height: 100px;
		    padding: 12px 20px;
		    box-sizing: border-box;
		    border: 2px solid #ccc;
		    border-radius: 4px;
		    background-color: #f8f8f8;
		  font-family:'Open Sans',sans-serif;
		  font-size:95%;
		    resize: none;
		}

		</style>
		<!--final de Estilos-->

		<!--Lógica-Programación-->
<script SRC="bower_components/angular/angular.min.js" TYPE="text/javascript"></script>
		<script type="text/javascript" src="jsFerretePinturas.js"></script>
        <!--Final de Lógica-Programación -->
		

		</head>
	<body ng-app="angularIngreso" ng-controller="controlPinturas">
		<div class="CajaUno animated bounceInDown">
			
		
			<form id="FormIngreso">

				<input type="text"  placeholder="Ingrese Temperatura" id="Temperatura" ng-model="temp">
	
				<br>
				
			</form>
			
		</div>
		<div class="CajaUno animated bounceInLeft">
			
			
			<button  class="MiBotonUTN" ng-click="FahrenheitCentigrados()" >A- de Fahrenheit a Centígrados </button>
			<button  class="MiBotonUTN" ng-click="CentigradosFahrenheit()" >B- de Centígrados a Fahrenheit</button>
			

		</div>

		<div class="CajaEnunciado animated bounceInLeft">
			<h2>Enunciado:</h2>
			
	
				<h3>
					3.	Para el departamento de Pinturas:
						<br>A.	Al ingresar una temperatura en Fahrenheit debemos mostrar la temperatura en Centígrados con un mensaje concatenado (ej.: " 32 Fahrenheit son 0 centígrados").
						<br>B.	Al ingresar una temperatura en Centígrados debemos mostrar la temperatura en Fahrenheit (ej.: "0  centígrados son 32 Fahrenheit ").




				</h3>
			
		</div>

		<div class="CajaAbajo animated bounceInUp">
			<a  class="MiBotonUTNLinea" onclick="location.href='index.html'" >Men&uacute; ejercicios</a>	
			<textarea class="MiTextArea" readonly rows="4" cols="50">{{Resultado}}</textarea>
		</div>
	</body>
</html>